:root {
    --firt-color: #f7feff;
    --second-color: #21b7e2;
    --third-color: #263238;
    --fourth-color: #000;
    --fifth-color: #00334c;
    --sixth-color: #21b7e24d;
    --seventh-color: #489fb5;
    --eighth-color:#d0f6ff80;
    --first-backgound-color: #d0f6ff;
}